<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<log4net>
			<!--<root>
			<level value="ALL"/>
			<appender-ref ref="file"/>
			<appender-ref ref="fatal_file"/>			
		</root>-->

		<logger name="ROOT_ALL">
			<level value="ALL" />
			<appender-ref ref="AllFile" />
		</logger>

		<logger name="OpenVisionLab.All" additivity="true">
			<level value="ALL" />
			<appender-ref ref="AllFile" />
		</logger>
		<logger name="OpenVisionLab.Warning" additivity="true">
			<level value="ALL" />
			<appender-ref ref="WarningFile" />
		</logger>
		<logger name="OpenVisionLab.Error" additivity="true">
			<level value="ALL" />
			<appender-ref ref="ErrorFile" />
		</logger>
		<logger name="OpenVisionLab.Debug" additivity="true">
			<level value="ALL" />
			<appender-ref ref="DebugFile" />
		</logger>

		<logger name="ROOT_COMM">
			<level value="ALL" />
			<appender-ref ref="COMM" />
		</logger>
		<logger name="ROOT_ABNORMAL">
			<level value="ALL" />
			<appender-ref ref="ABNORMAL" />
		</logger>
		<logger name="ROOT_ALARM">
			<level value="ALL" />
			<appender-ref ref="ALARM" />
		</logger>
		<logger name="ROOT_MOTION">
			<level value="ALL" />
			<appender-ref ref="MOTION" />
		</logger>
		<logger name="ROOT_DEVICE">
			<level value="ALL" />
			<appender-ref ref="DEVICE" />
		</logger>
		<logger name="ROOT_IO">
			<level value="ALL" />
			<appender-ref ref="IO" />
		</logger>
		<appender name="AllFile" type="log4net.Appender.RollingFileAppender">
			<file value="Log\\" />
			<datepattern value="yyyy\\\\MM\\\\dd\\\\yyyy-MM-dd_'ALL.log'"/>
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maximumFileSize value="50MB" />
			<maxSizeRollBackups value="20" />
			<staticLogFileName value="false" />
			<preserveLogFileNameExtension value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] %message%newline" />
			</layout>
		</appender>
		<appender name="WarningFile" type="log4net.Appender.RollingFileAppender">
			<file value="Log\\" />
			<datepattern value="yyyy\\\\MM\\\\dd\\\\yyyy-MM-dd_'Warning.log'"/>
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maximumFileSize value="50MB" />
			<maxSizeRollBackups value="20" />
			<staticLogFileName value="false" />
			<preserveLogFileNameExtension value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] %message%newline" />
			</layout>
		</appender>
		<appender name="ErrorFile" type="log4net.Appender.RollingFileAppender">
			<file value="Log\\" />
			<datepattern value="yyyy\\\\MM\\\\dd\\\\yyyy-MM-dd_'Error.log'"/>
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maximumFileSize value="50MB" />
			<maxSizeRollBackups value="20" />
			<staticLogFileName value="false" />
			<preserveLogFileNameExtension value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] %message%newline" />
			</layout>
		</appender>
		<appender name="DebugFile" type="log4net.Appender.RollingFileAppender">
			<file value="Log\\" />
			<datepattern value="yyyy\\\\MM\\\\dd\\\\yyyy-MM-dd_'Debug.log'"/>
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maximumFileSize value="50MB" />
			<maxSizeRollBackups value="20" />
			<staticLogFileName value="false" />
			<preserveLogFileNameExtension value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] %message%newline" />
			</layout>
		</appender>
		<appender name="ABNORMAL" type="log4net.Appender.RollingFileAppender">
			<file value="Log\\" />
			<datepattern value="yyyy\\\\MM\\\\dd\\\\yyyy-MM-dd_'ABNORMAL.log'"/>
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] %message%newline" />
			</layout>
		</appender>
		<appender name="COMM" type="log4net.Appender.RollingFileAppender">
			<file value="Log\\" />
			<datepattern value="yyyy\\\\MM\\\\dd\\\\yyyy-MM-dd_'COMM.log'"/>
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] %message%newline" />
			</layout>
		</appender>
		<appender name="ALARM" type="log4net.Appender.RollingFileAppender">
			<file value="Log\\" />
			<datepattern value="yyyy\\\\MM\\\\dd\\\\yyyy-MM-dd_'ALARM.log'"/>
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] %message%newline" />
			</layout>
		</appender>
		<appender name="MOTION" type="log4net.Appender.RollingFileAppender">
			<file value="Log\\" />
			<datepattern value="yyyy\\\\MM\\\\dd\\\\yyyy-MM-dd_'MOTION.log'"/>
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] %message%newline" />
			</layout>
		</appender>
		<appender name="DEVICE" type="log4net.Appender.RollingFileAppender">
			<file value="Log\\" />
			<datepattern value="yyyy\\\\MM\\\\dd\\\\yyyy-MM-dd_'DEVICE.log'"/>
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] %message%newline" />
			</layout>
		</appender>
		<appender name="IO" type="log4net.Appender.RollingFileAppender">
			<file value="Log\\" />
			<datepattern value="yyyy\\\\MM\\\\dd\\\\yyyy-MM-dd_'IO.log'"/>
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] %message%newline" />
			</layout>
		</appender>
		<appender name="fatal_file" type="log4net.Appender.RollingFileAppender">
			<file value="Log\\fatal.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="500" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="FATAL" />
				<param name="LevelMax" value="FATAL" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date][Thread : %thread][%level][%logger] %message%newline" />
			</layout>
		</appender>
	</log4net>
</configuration>
